# IDE / OS
.vscode/
.DS_Store
Thumbs.db
.cache

# build / cmake
build/
/**/build/
CMakeFiles/
CMakeCache.txt
*.cmake
*.ninja
.ninja_*
compile_commands.json
Testing/

# binary/object
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.app
*.out
*.log

# latex
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf
_minted*/

# misc
state/scoreboard.txt
